.login-container {
  background: url('/bg4.jpg') no-repeat center 20px fixed;
  background-size: cover; 
  position: relative;
  height: 100vh; /* ปรับจาก height: 100vh เป็น min-height */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* จัดเนื้อหาให้อยู่ด้านบน */
  overflow: hidden; /* เปิดใช้งานการเลื่อน */
  transform: translateZ(0);
  z-index: 0;
}

.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* เพิ่มความมืด */
  z-index: 1;
}

.login-form {
  position: relative;
  z-index: 2;
  width: 500px; /* แทนที่ max-width */
  padding: 30px 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
}
.login-form button {
  width: 100%;
  padding: 12px 20px;
  background-color: #43a047; /* สีเขียว */
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-form button:hover {
  background-color: #388e3c; /* สีเขียวเข้มขึ้น */
  transform: scale(1.05);
}


/* เพิ่ม animation */
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.admin-con a {
  margin-right: 15px; /* เว้นระยะห่างระหว่างลิงก์ */ 
  color: #3498db; /* กำหนดสีข้อความ */
}

.admin-con {
  display: flex; /* จัดลิงก์ในแนวนอน */
  justify-content: center; /* จัดให้อยู่กึ่งกลางในแนวนอน */
  align-items: center; /* จัดให้อยู่กึ่งกลางในแนวตั้งของ flex item */
  gap: 20px; /* ระยะห่างระหว่างลิงก์ */
  margin-top: 10px; /* เพิ่มระยะห่างจากส่วนบน */
}
