
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
  
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-toggler {
  border: none;
}

/* ลิงก์ใน Navbar */
.nav-link {
  font-size: 1rem;
  padding: 8px 16px;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.nav-link.hover-link:hover {
  color: #007bff;
  background-color: #c2c0c0;
  border-radius: 8px;
}

/* Dropdown สไตล์ */
.dropdown-toggle {
  font-size: 1rem;
}

.dropdown-menu {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* ปุ่มใน Navbar */
.btn-outline-success {
  border-color: #28a745;
}

.btn-outline-success:hover {
  background-color: #28a745;
  color: white;
}

.dropdown-item.logout {
  color: #ff2828 !important;
  background-color: #ffffff !important; /* สีแดง */
}

.dropdown-item.logout:hover {
  background-color: #ebebeb !important; /* สีแดงเข้มตอน hover */
}

