.payment-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.payment-form h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #218838;
}

.qr-code-section {
    text-align: center;
    margin-top: 20px;
}

.qr-code-section h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.qr-code-section img {
    width: 200px;
    height: 200px;
    border: 2px solid #007bff;
    border-radius: 10px;
}

.file-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #257cff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-btn:hover {
    background-color: #0f47be;
}

.upload-section {
    text-align: center;
    margin-top: 20px;
}

.file-preview {
    width: 300px;
    border: 2px solid #007bff;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.points-box {
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.points-total {
    font-size: 35px;
    color: #007bff;
    font-weight: bold;
    justify-self: center;
}